<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
    <title>Contact</title>
    <style>
      body {
        background-color: rgb(238, 129, 20);
      }

      p {
        text-align: center;
        font-size: 50px;
        margin-top: 10%;
        color: rgb(174, 32, 122);
      }

      h1 {
        color: rgb(174, 32, 122);
      }
    </style>
  </head>

  <body>
    <h1>Contact</h1>
    <nav>
      <a href="page.html">Page</a>
      <a href="home.html">Home</a>
      <a href="about.html">About</a>
      <a href="contact.html">Contact</a>
    </nav>

    <p>Welcome To Contact Page</p>
  </body>
</html>
